<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VPN-Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VPN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VPNKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>352036BA1BE7ABA20039EA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352036C31BE7ABA30039EA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF79451BE4CD0400FBFBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF795C1BE4CD0500FBFBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF79671BE4CD0600FBFBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF797E1BE4D75F00FBFBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF79871BE4D75F00FBFBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CF79A01BE4D80200FBFBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
